@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
   margin: 0px;
   padding: 0px; 
}
body{
    background-color: #000023;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    text-align: center;
    margin-top: 5%;
    padding-bottom: 70px;
    font-size: 1.3em;
    
}
header > h1{
    font-size: 2em;
    font-family: "Poppins", sans-serif;
    text-shadow: 2px 4px 0px black;
    padding-bottom: 50px;
    background-color: #0b0c41;
}
header > p{
    padding: 10px;
    font-size: 1em;
}
.bottom{
    padding-bottom: 28%;
}

main{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 2px 2px 2px black;
    margin: auto;
    padding-bottom: 10%;
    background-color: #16175e;
}
main > h1{
    margin-left: 20px;
    font-size: 1.9em;
}

main > ol{
    margin-left: 10px;
    list-style-position: inside;
    columns: 1;
    
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

.imgcentro{
    text-align: center;
}
.imgcentro > img{
    margin-left: 24px;
    padding: 20px;
    border-radius: 28px;
    
}

aside{
    text-indent: 1.2em;
    line-height: 1.7em;
    background-color: #16175e;
    border-radius: 10px;
    padding: 20px;
}
aside > h1{
    margin-top: 10px;
    padding-bottom: 15%;
    font-size: 1.9em;
    padding: 10px;
    
}
.negri{
    font-weight: bolder;
    
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 1.4em;
    
}

aside > p{
    font-family: "Poppins", sans-serif;
    text-indent: 30px;
    font-size: 16px;
    margin-bottom: 10px;
}
aside > img{
    margin-left: 30px;
    padding: 20px;
    border-radius: 30px;
}

.links{
    font-family: "Poppins", sans-serif;
    font-size: 0.9em;
}
.links > a{
    color: rgba(76, 143, 5, 0.801);
    text-decoration: none;
}
.links > a:hover{
    font-size: 1.2em;
    transition: 1s;
}
.links > a:active{
    color: #000023;
}

section{
    background-image: url(imagens/foto-meio-ambiente.jpg);
    background-position: center center;
    
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;

}
section > h2{
    text-align: justify;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    color: #060632;
}
section > ul{
    font-family: "Poppins", sans-serif;
    columns: 1;
    text-align: justify;
    list-style-type: '✓';
    list-style-position: inside;
    padding: 20px;
    color: #060632;
    font-weight: bold;
    font-size: 16px;
}

.tec{
    margin-top: 15%;
    padding: 20px;
    text-align: center;
    font-size: 1.9em;
    font-weight: bolder;
    display: inline-block;

}
.tec > img{
    padding: 60px;
    border-radius: 100px;
    width: 219px;
}

nav{
    padding-top: 5%;
    padding-bottom: 7%;
    padding-left: 25px;

}
nav > b > a{
    background-image: linear-gradient(to right, #FFE53B, #ff2525);
    color: white;
    padding: 7px;
    font-size: 1em;
    border-radius: 5px;
    text-decoration: none;
}
nav > b > a:hover{
    transition: 1s;
    font-size: 1.3em;
}

.id-01{
    font-family: "Poppins", sans-serif;
    font-size: 0.9em;
    padding: 10px;
}

footer{
    margin-top: 50px;
    text-align: center;
    background-color: #11114f;
    font-size: 1.2em;
    font-weight: bold;

}